---
layout: default
---
<article class="memo">

  <div class="memo-heading">CECIL O. FRANKLIN &mdash; TECHNICAL DOCUMENT SYSTEM</div>
  <div class="memo-rule-heavy"></div>

  <div class="memo-fields">
    <div class="memo-field">
      <span class="memo-label">DOCUMENT NO.</span>
      <span class="memo-value mono">{{ site.doc_prefix }}/{{ page.doc_type | default: "TM" }}&mdash;{{ page.date | date: "%Y" }}&mdash;{{ page.doc_seq | default: "001" }}</span>
    </div>
    <div class="memo-field">
      <span class="memo-label">DATE</span>
      <span class="memo-value">{{ page.date | date: "%B %d, %Y" }}</span>
    </div>
    <div class="memo-field">
      <span class="memo-label">FROM</span>
      <span class="memo-value">Cecil O. Franklin</span>
    </div>
    <div class="memo-field">
      <span class="memo-label">TYPE</span>
      <span class="memo-value">{% case page.doc_type %}{% when "TM" %}Technical Memorandum{% when "TN" %}Technical Note{% when "CR" %}Computational Report{% when "TP" %}Technical Paper{% else %}Technical Memorandum{% endcase %}</span>
    </div>
    {% if page.program %}
    <div class="memo-field">
      <span class="memo-label">PROGRAM</span>
      <span class="memo-value">{{ page.program }}</span>
    </div>
    {% endif %}
    <div class="memo-field">
      <span class="memo-label">SUBJECT</span>
      <span class="memo-value subject">{{ page.title }}</span>
    </div>
    {% if page.tags and page.tags.size > 0 %}
    <div class="memo-field">
      <span class="memo-label">KEYWORDS</span>
      <span class="memo-value">{{ page.tags | join: "; " }}</span>
    </div>
    {% endif %}
  </div>

  <div class="memo-rule-heavy"></div>

  {% if page.abstract %}
  <div class="memo-abstract">
    <span class="memo-abstract-label">ABSTRACT &mdash;</span> {{ page.abstract }}
  </div>
  <div class="memo-rule-light"></div>
  {% endif %}

  <div class="memo-body">
    {{ content }}
  </div>

  <div class="memo-rule-light"></div>
  <div class="memo-end">&mdash; END OF DOCUMENT &mdash;</div>

</article>
