---
layout: default
---
<article class="memo">
  <div class="memo-heading">CECIL O. FRANKLIN &mdash; CURRICULUM VITAE</div>
  <div class="memo-rule-heavy"></div>

  <table class="doc-table">
    <tr>
      <td><strong>DOCUMENT NO.</strong></td>
      <td>{{ site.doc_prefix }}/CV&mdash;{{ 'now' | date: "%Y" }}&mdash;REV.A</td>
      <td><strong>REVISED</strong></td>
      <td>{{ 'now' | date: "%B %Y" }}</td>
    </tr>
    <tr>
      <td><strong>SUBJECT</strong></td>
      <td colspan="3"><strong>Curriculum Vitae &mdash; Cecil O. Franklin</strong></td>
    </tr>
    <tr>
      <td><strong>DISTRIBUTION</strong></td>
      <td colspan="3">Unlimited</td>
    </tr>
  </table>

  <div class="memo-body">
    {{ content }}
  </div>
</article>
